/*
 * Globals
 */

@font-face {
  font-family: 'NanumMyeongjo-r';
  src: url('../font/NanumMyeongjo-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'NanumMyeongjo-e';
  src: url('../font/NanumMyeongjo-ExtraBold.ttf') format('truetype');
}
@font-face {
  font-family: 'NanumMyeongjo-b';
  src: url('../font/NanumMyeongjo-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'DancingScript-b';
  src: url('../font/DancingScript-Bold.ttf') format('truetype');
}

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}

.top-title {
  margin-top: 1em;
  margin-bottom: 1em;
  color: #333;
  text-shadow: none;
  font-family: NanumMyeongjo-b;
  font-size: 1.7rem;
}

.top-title-sub{
  margin-top: 1em;
  color: #333;
  text-shadow: none;
  font-family: NanumMyeongjo-b;
  font-size: 1.2rem;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
}

html {
  font-size: 16px;
}

@media screen and (max-width: 430px) {
  html {
    font-size: 15px;
  }
}

@media screen and (max-width: 380px) {
  html {
    font-size: 14px;
  }
}

@media screen and (max-width: 360px) {
  html {
    font-size: 13px;
  }
}

@media screen and (max-width: 320px) {
  html {
    font-size: 12px;
  }
}

@media screen and (max-width: 300px) {
  html {
    font-size: 11px;
  }
}

body {
  display: -ms-flexbox;
  display: flex;
  color: #fff;
}

.cover-container {
  max-width: 42em;
}

.cover-container-2 {
  max-width: 42em;
  color: black;
}


/*
 * Header
 */
.masthead {
  margin-bottom: 2rem;
}

.masthead-brand {
  margin-bottom: 0;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

.cover-heading {
  margin-top: 7.5rem;
  color: #fefefe;
  font-family: NanumMyeongjo-b;
}

.top-div {
  width: 100%;
}

header {
  background-image: url("../img/header.jpg");
  background-size: cover;
  background-position: center;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}


/*
 * section
 */
.section1-title {
  margin-top: 1em;
  color: #333;
  text-shadow: none;
  font-size: 1rem;
}

.section1-main {
  background-color: #fefefe;
  font-family: NanumMyeongjo-r;
  line-height: 2em;
  font-size: 1.2rem;
}

.section1-sub {
  font-family: NanumMyeongjo-b;
  line-height: 2.1em;
  font-size: 1.35rem;
}

.section1-sub2 {
  font-family: NanumMyeongjo-b;
  line-height: 2.1em;
  font-size: 1.35rem;
}

.section1-sub2 .small {
  font-size: 1.2rem;
}

.section2-title {
  margin-top: 1em;
  color: #333;
  text-shadow: none;
}

.section2-main {
  font-family: NanumMyeongjo-b;
  line-height: 1.5em;
  font-size: 1.35rem;
  position: relative;
}


.section2-main::after {
  width:100%;
  height:100%;
  content: "";
  background-image: url("../img/section2.jpg");
  background-size: cover;
  background-position: right;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.section2-sub {
  font-family: NanumMyeongjo-b;
  line-height: 2em;
  font-size: 1.2rem;
}

.section3 {
  background-color: #f9f9f9;
}

.section3-title {
  margin-top: 1em;
  color: #333;
  text-shadow: none;
}

.section3-main {
  font-family: DancingScript-b;
  line-height: 1.5em;
  font-size: 2rem;
  margin-top: 2em;
  margin-bottom: 2em;
}

.section3-image {
  box-shadow : 2px 2px 5px #999;
}

.section4-title {
  margin-top: 1em;
  color: #333;
  text-shadow: none;
}

.section4-sec1-2 {
  padding-top: 0.1rem;
}

.section4-sec1 {
  font-family: NanumMyeongjo-r;
  line-height: 1.5em;
  font-size: 1.3rem;
}

.section4-sec2 {
  font-family: NanumMyeongjo-b;
  line-height: 1.5em;
  font-size: 1.35rem;
}

.section4-sec3 {
  font-family: NanumMyeongjo-b;
  line-height: 1.5em;
  font-size: 1.35rem;
  background: none;
  border: none;
  color: #55CCCC;
}

.section4-sec3-g {
  font-family: NanumMyeongjo-b;
  line-height: 1.5em;
  font-size: 1.35rem;
  background: none;
  border: none;
  color: #FF99CC;
}

.section5 {
  background-color: #f9f9f9;
}

.section5-title {
  margin-top: 1em;
  color: #333;
  text-shadow: none;
}

.section5-main {
  font-family: DancingScript-b;
  line-height: 1.5em;
  font-size: 2rem;
}

.section5-sub {
  font-family: NanumMyeongjo-r;
  line-height: 1.5em;
  font-size: 1.3rem;
}

.section5-table {
  font-family: NanumMyeongjo-r;
  line-height: 1.5em;
  font-size: 1.3rem;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.section5-table tr td{
  padding-top: 0.8em;
  padding-bottom: 0.8em;
}

.section5-table tr .sun{
  color: red;
}

.section5-table tr .check{
  color: white;
  background-color: chocolate;
  border-radius: 50px;
}

.section5-table tr:first-child td{
  padding-top: 2em;
}

.section5-table tr:last-child td{
  padding-bottom: 2em;
}

.section6-title {
  margin-top: 1em;
  color: #333;
  text-shadow: none;
}

.section6-location {
  color: #333;
  text-shadow: none;
}

.section6-main {
  font-family: DancingScript-b;
  line-height: 1.5em;
  font-size: 2rem;
}

.section6-location-main {
  font-family: NanumMyeongjo-e;
  line-height: 1.5em;
  font-size: 1.3rem;
}

.section6-sub {
  font-family: NanumMyeongjo-r;
  line-height: 1.5em;
  font-size: 1.3rem;
}

.section6-location-sub {
  font-family: NanumMyeongjo-r;
  line-height: 1.5em;
  font-size: 1.2rem;
  text-align: left;
}

.section7 {
  background-color: #ffffff;
}

.section7-title {
  margin-top: 1em;
  color: #333;
  text-shadow: none;
}

.section7-modal {
  color: #333;
}

.section7-modal-title {
  font-size: 1.4rem;
}

.section7-modal-content {
  font-size: 1.2rem;
}

.section7-main {
  font-family: NanumMyeongjo-b;
  line-height: 1.4em;
  font-size: 1.4rem;
}

.section7-button {
  font-family: NanumMyeongjo-b;
  font-size: 1.2rem;
  background-color: #CC9999;
  color: #fff;
  border: 0;
  border-radius: 50px;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin-bottom: 0.7em;
}

.section7-button:hover {
  background-color: #CC9999;
  color: #fff;
  border: 0;
}

.section7-button:active {
  background-color: #996666;
  color: #fff;
  border: 0;
}

.section7-button:valid {
  background-color: #CC9999;
  color: #fff;
  border: 0;
}

.section8 {
  background-color: #f9f9f9;
}

/*
 * Cover
 */
.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}


/*
 * Footer
 */
.mastfoot {
  color: rgba(255, 255, 255, .5);
}
